@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .test {
    background-image: url("/img/title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .sm_container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cards {
    display: flex;
    grid-gap: 27px;
    gap: 27px;
    flex-wrap: wrap;
    padding: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 0;
    width: 300px;
    height: 340px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    cursor: pointer;
  }

  .gmg {
    white-space: pre-wrap;
  }
  .test {
    width: 100%;
    max-width: 1024px;
    min-height: 60rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  /* project */

  .project_img {
    max-width: 24rem;
    height: 16rem;
    border-radius: 10px;
  }

  .project_img_sm {
    max-width: 20rem;
    height: 16rem;
    border-radius: 10px;
  }

  .vrar_img {
    max-width: 21rem;
    height: 13rem;
    border-radius: 10px;
  }

  .project_list {
    display: flex;
    padding: 140px 152px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .title {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .subtitle {
    color: #454545;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .main_text {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  .sm_main_text {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .v-line {
    border-left: thick solid #32a1ce;
    height: 50px;
  }

  * {
    box-sizing: border-box;
  }

  body {
    width: auto;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: auto;
}
